@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0c0c;
  --foreground: #ffffff;
  --eros-black: #171717;
  --eros-white: #f8f8f8;
  --eros-pink: #f078f0;
  --eros-purple: #a623eb;
  --eros-green: #21d09a;
  --eros-orange: #f5a524;
  --eros-blue: #5e93e8;
  --eros-grey: #707070;
  --eros-blacker: #000;
  --eros-red: #ef7878;
  --eros-yellow: #ffff00;
  --eros-bg: #0d0c0c;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --eros-black: #171717;
  }
}

body {
  color: var(--eros-black);
  background: #e3e3e3;
  font-family: Arial, Helvetica, sans-serif;
}
